body {
    background-color: rgb(204, 204, 204) ; 
}

#main {

}

header {
    padding-top: 20px;
    text-align: center;
}

#title {
    font-weight: 800;
    font-size: 40px;
}

#tribute-info {
    font-weight: 100;
    font-size: 20px;
}

#img-div {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    text-align: center;
    display: block; 
}

#img {
    width: 80%;
    margin: 0 auto;
}